@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Приветствую засранцы!</h1>
    <p>Задайте вопрос <a href="https://vk.com/snaumov2001">главному разрабу этого кала</a>.</p>
</div>
